*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body {
  min-width: 350px;
  min-height: 100vh;
}


/* HEADER */


.main-header {
  height:100vh ;
  background-image: url("public/assets/iteration-1/home-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
}
.header-items{
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header-title{
  width: 350px;
  color: white;
}
.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-span{
    font-family: "Satisfy", cursive;
    color: #FDC913;
    font-size: 2rem;
}
.header-p{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 5.3rem;
  color: #fff;
  text-align: center;
}
.header-button{
  padding: 1rem 3rem;
  background-color: #FDC913;
  color: #292929;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: semibold;
  border: none;
  border-radius: 3.1rem;
  cursor: pointer;
}


/* MAİN */

main{
  height: 100vh;
}
.main-section{
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;

}
.main-section-items,
.main-section-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-section-item{
  cursor: pointer;
}
.main-section-items{
  gap: 3rem;
  flex-wrap: wrap;
}
.main-section-item p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 1rem;
}

/* MAIN CONTENT */
.main-content {
  padding: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #FAF7F2;
}
.main-content-items{
  padding: 0.5rem;
}
.main-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.main-menu1{
  background: url("public/assets/iteration-2/cta/kart-1.png");
  width: 531px;
  height: 449px;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 3rem;
}
.main-menu1 span{
  width: 18rem;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 4.25rem;
  color: #fff;
}
.main-menu1 p{
  width: 275px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 1.3rem;
  color: #fff;
}
.main-menu1 button,
.main-hamburger button,
.main-kurye .btn-kurye {
  width: 138px;
  background-color:#fff ;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1.5rem;
  color:#CE2829 ;
  border-radius:50px ;
  cursor: pointer;
}
.main-menu2{
  width: 530px;
  height: 449px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.main-menu2 .main-hamburger{
  background: url("public/assets/iteration-2/cta/kart-2.png");
  width: 530px;
  height: 220px;
  border-radius: 1.3rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem ;

}
.main-menu2 .main-hamburger p{
  width: 530px;
  height: 220px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 2rem;
  color:#fff ;

}
.main-menu2 .main-kurye{
  background: url("public/assets/iteration-2/cta/kart-3.png");
  width: 33rem;
  border-radius: 1.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;

}
.main-menu2 .main-kurye p{
  width: 254px;
  color: #292929;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 2rem;

}
.main-menu2 .main-kurye p span{
  color: #CE2829;
}

.main-content-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}
.main-content-title p{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #CE2829;
}
.main-content-title h2{
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: semibold;
  font-size: 2.5rem;
}
.main-content .main-section-items .main-section-item{
  padding:0.5rem 1rem;
  background-color: #fff;
  border-radius: 50px;
}
.main-content .main-section-items .active{
  background-color: #292929;
  color: #fff;
}
@media (max-width:500px){
  .header-span{
    display: none;
  }
  .header-p {
    min-width: 400px;
    text-align: center;
  }
  .main-section-items{
    justify-content: space-around;
  }
  .main-section-item{
    min-width: 150px;
    justify-content: flex-start;
  }
  .main-img{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .main-menu1,
  .main-menu2,
  .main-menu2 .main-hamburger,
  .main-menu2 .main-kurye
  {
    width: 400px;
  }
.main-menu1 button,
.main-hamburger button,
.main-kurye .btn-kurye {
    width: 138px;
    background-color:#fff ;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: semibold;
    font-size: 0.8rem;
    border: none;
    padding: 0.8rem 1.2rem;
    color:#CE2829 ;
    border-radius:50px ;
    cursor: pointer;
  }
}
.main-hamburger{
  background-size:cover ;
  height: 270px;
}
/* 1. Sarı #FDC913
2. Açık Gri: #5F5F5F
3. Koyu Gri #292929
4. Kırmızı #CE2829
5. Bej: #FAF7F2 */